Source: libahp-hub
Section: misc
Priority: optional
Maintainer: Ilia Platone <info@iliaplatone.com>
Build-Depends: debhelper (>= 8.1.3~),
 cdbs,
 cmake (>= 2.4.7),
 libusb-dev,
 libusb-1.0-0-dev,
 libftdi-dev,
 liburjtag
Standards-Version: 3.9.5
Homepage: http://iliaplatone.github.io/OpenVLBI/
Vcs-Git: git://github.com/iliaplatone/OpenVLBI.git

Package: libahp-hub
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
Pre-Depends: ${misc:Pre-Depends}
Description: HUB Controllers programming library
    This library drives the AHP HUB control port, which is
    used to set voltage, frequency and extra functions of the AHP XC correlators.
